@{
    Layout = "_Layout";
}
@await Component.InvokeAsync("Slider")
<section class="tf-marquee">
    <div class="marquee-wrapper">
        <div class="initial-child-container">
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">500₺ Üzeri Alışverişlerde Ücretsiz Kargo</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Ürün Tesliminden Sonraki 1 Hafta İçerisinde İade</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <!-- 2 -->
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">500₺ Üzeri Alışverişlerde Ücretsiz Kargo</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Ürün Tesliminden Sonraki 1 Hafta İçerisinde İade</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <!-- 3 -->
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">500₺ Üzeri Alışverişlerde Ücretsiz Kargo</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Ürün Tesliminden Sonraki 1 Hafta İçerisinde İade</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <!-- 4 -->
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">500₺ Üzeri Alışverişlerde Ücretsiz Kargo</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Ürün Tesliminden Sonraki 1 Hafta İçerisinde İade</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <!-- 5 -->
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">500₺ Üzeri Alışverişlerde Ücretsiz Kargo</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Ürün Tesliminden Sonraki 1 Hafta İçerisinde İade</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <!-- 6 -->
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">500₺ Üzeri Alışverişlerde Ücretsiz Kargo</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Ürün Tesliminden Sonraki 1 Hafta İçerisinde İade</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>



        </div>
    </div>
</section>
@await Component.InvokeAsync("Category")
<div class="product-container">
    @await Component.InvokeAsync("Product")
</div>
@await Component.InvokeAsync("HomeSlider")
@await Component.InvokeAsync("HomeComment")

<section class="flat-spacing">
    <div class="container">
        <div dir="ltr" class="swiper tf-sw-iconbox" data-preview="4" data-tablet="3" data-mobile-sm="2" data-mobile="1"
            data-space-lg="30" data-space-md="30" data-space="15" data-pagination="1" data-pagination-sm="2"
            data-pagination-md="3" data-pagination-lg="4">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="tf-icon-box">
                        <div class="icon-box"><span class="icon icon-return"></span></div>
                        <div class="content text-center">
                            <h6>7 Gün İçerisinde İade</h6>
                            <p class="text-secondary">Kolay iade olanağıyla risksiz alışveriş</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tf-icon-box">
                        <div class="icon-box"><span class="icon icon-shipping"></span></div>
                        <div class="content text-center">
                            <h6>Ücretsiz Kargo</h6>
                            <p class="text-secondary">500₺ Üzeri Siparişlerinizde Ücretsiz Kargo</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tf-icon-box">
                        <div class="icon-box"><span class="icon icon-headset"></span></div>
                        <div class="content text-center">
                            <h6>7/24 Destek</h6>
                            <p class="text-secondary">Her zaman sizin için buradayız.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tf-icon-box">
                        <div class="icon-box"><span class="icon icon-sealCheck"></span></div>
                        <div class="content text-center">
                            <h6>Üye İndirimleri</h6>
                            <p class="text-secondary">Üyelerimize özel kupon fırsatları</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sw-pagination-iconbox sw-dots type-circle justify-content-center"></div>
        </div>
    </div>
</section>


