@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">


<!-- Mirrored from quiety.themetags.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 May 2025 08:59:33 GMT -->

<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--twitter og-->
    <meta name="twitter:site" content="@@themetags">
    <meta name="twitter:creator" content="@@themetags">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Quiety - Creative SAAS Technology & IT Solutions Bootstrap 5 HTML Template">
    <meta name="twitter:description"
        content="Quiety creative Saas, software technology, Saas agency & business Bootstrap 5 Html template. It is best and famous software company and Saas website template.">
    <meta name="twitter:image" content="#">

    <!--facebook og-->
    <meta property="og:url" content="#">
    <meta name="twitter:title" content="Quiety - Creative SAAS Technology & IT Solutions Bootstrap 5 HTML Template">
    <meta property="og:description"
        content="Quiety creative Saas, software technology, Saas agency & business Bootstrap 5 Html template. It is best and famous software company and Saas website template.">
    <meta property="og:image" content="#">
    <meta property="og:image:secure_url" content="#">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!--meta-->
    <meta name="description"
        content="Quiety creative Saas, software technology, Saas agency & business Bootstrap 5 Html template. It is best and famous software company and Saas website template.">
    <meta name="author" content="ThemeTags">

    <!--favicon icon-->
    <link rel="icon" href="/temp/customer/assets/img/favicon.png" type="image/png" sizes="16x16">

    <!--title-->
    <title>Login - Software & IT Solutions HTML Template</title>

    <!-- Font -->
    <link
        href="../fonts.googleapis.com/css2c73a.css?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&amp;display=swap"
        rel="stylesheet">

    <link href="../fonts.googleapis.com/css21efa.css?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&amp;display=swap"
        rel="stylesheet">
    <link href="../fonts.googleapis.com/css21e5a.css?family=Lily+Script+One&amp;display=swap" rel="stylesheet">
    <!-- Font -->

    <!--build:css-->
    <link rel="stylesheet" href="/temp/customer/assets/css/main.css">
    <!-- endbuild -->

    <!--custom css start-->
    <link rel="stylesheet" href="/temp/customer/assets/css/custom.css">
    <!--custom css end-->

</head>

<body>

    <!--preloader start-->
    <div id="preloader" class="bg-light-subtle">
        <div class="preloader-wrap">
            <img src="/temp/customer/assets/img/favicon.png" alt="logo" class="img-fluid preloader-icon">
            <div class="loading-bar"></div>
        </div>
    </div>
    <!--preloader end-->
    <!--main content wrapper start-->
    <div class="main-wrapper">

        <!--register section start-->
        <section class="sign-up-in-section bg-dark ptb-60"
            style="background: url('assets/img/page-header-bg.svg')no-repeat right bottom">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5 col-md-8 col-12">
                        <a href="index-2.html" class="mb-4 d-block text-center"><img
                                src="/temp/customer/assets/img/logo-white.png" alt="logo" class="img-fluid" style="height:45px"></a>
                        <div class="register-wrap p-5 bg-light-subtle shadow rounded-custom">
                            <h1 class="h3">Müşteri Girişi</h1>
                            <p class="text-muted">Demo hesabınıza erişmek ve platformumuzu keşfetmek için giriş yapın.
                            </p>
                            <form method="post" action="/Aysoft/Account/Login" class="mt-4 register-form">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="Email" class="mb-1">Mail Adresi <span
                                                class="text-danger">*</span></label>
                                        <div class="input-group mb-3">
                                            <input type="email" class="form-control" placeholder="example@example.com"
                                                id="Email" name="Email" required aria-label="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="Password" class="mb-1">Şifre <span
                                                class="text-danger">*</span></label>
                                        <div class="input-group mb-3">
                                            <input type="password" class="form-control" placeholder="******"
                                                id="Password" name="Password" required aria-label="Password">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mt-3 d-block w-100">Giriş
                                            Yap</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--register section end-->
    </div>

    <!--build:js-->
    <script src="/temp/customer/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/temp/customer/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/temp/customer/assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="/temp/customer/assets/js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="/temp/customer/assets/js/vendors/parallax.min.js"></script>
    <script src="/temp/customer/assets/js/vendors/aos.js"></script>
    <script src="/temp/customer/assets/js/vendors/massonry.min.js"></script>
    <script src="/temp/customer/assets/js/app.js"></script>
    <!--endbuild-->
</body>


<!-- Mirrored from quiety.themetags.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 May 2025 08:59:34 GMT -->

</html>