
<section class="contact-promo ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div
                    class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100">
                    <span class="fas fa-comment fa-3x text-primary"></span>
                    <div class="contact-promo-info mb-4">
                        <h5>Bize Yazın</h5>
                        <p><strong>Pazartesiden Cuma'ya</strong> <strong>09:00 - 17:00</strong> saatleri arasında size yardımcı olmak için canlı destek ekibimiz hazır.</p>
                    </div>
                    <a href="mailto:destek@sirketiniz.com" class="btn btn-link mt-auto">Canlı Destek</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div
                    class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100">
                    <span class="fas fa-envelope fa-3x text-primary"></span>
                    <div class="contact-promo-info mb-4">
                        <h5>E-posta Gönderin</h5>
                        <p><strong>destek@sirketiniz.com</strong> adresine e-posta gönderin, 24 saat içinde yanıt alacaksınız.</p>
                    </div>
                    <a href="mailto:destek@sirketiniz.com" class="btn btn-primary mt-auto">E-posta Gönder</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div
                    class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100">
                    <span class="fas fa-phone fa-3x text-primary"></span>
                    <div class="contact-promo-info mb-4">
                        <h5>Bizi Arayın</h5>
                        <p><strong>Pazartesiden Cuma'ya</strong> <strong>09:00 - 17:00</strong> saatleri arasında uzman ekibimiz sizi bekliyor.</p>
                    </div>
                    <a href="tel:0850-123-4567" class="btn btn-link mt-auto">0850 123 45 67</a>
                </div>
            </div>
        </div>
    </div>
</section>
